.posts_all{
  text-align: center;
  margin:10px;
}
// .preview{
//   width: 300px;
//   height: 300px;
// }
.post-name-box{
  justify-content: space-between;
}      
.post-title{
  text-align: center;

}
