.new-name{
  width: 20%;
  height: 50px;
  font-size: 20px;
}
.title{
  width: 20%;
  height: 50px;
  font-size: 20px;
}
.image{
  width: 41%;
  height: 150px;
  border:solid 1px ;
}
.text{
  width: 41%;
  height: 150px;
  font-size: 30px;
}
.new-post{
  text-align: center;
  width: 100%;
  height: 100%;
}
.new-into{
  display: block;
}
.new{
  margin-top: 20px;
}
.new-image{
  margin-top: 20px;
}
.new-text{
  margin-top: 20px;
  font-size: 30px;
}
.preview{
  margin: 10px;
}
.btn{
  width: 40%;
  height: 50px;
  background-color: indigo;
  color: #fff;
}
#delete{
  margin:10px;
}